body {
    margin: 0;
    background-image: url("images/constforproj.png");
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
    background-size: cover;
   
}
h1 {
    font-family: "Nunito Sans", sans-serif;
    font-size: xx-large;
    color: darkred
    
}

p {
    font-family: "PT Serif", serif;
    font-size: large
}

span {
    font-style: italic;
}
.opening {
    justify-content: center;
    background-color: antiquewhite;
    opacity: .6;
    padding: 50px;
    margin: 150px;
    border: 5px;
    border-radius: 20px;
}

#quiz {
    justify-content: center;
    text-align: center;

}

.quizbutton {
    justify-content: center;
    text-align: center;
    font-size: large;
}

@media (max-width: 480px) {

    .opening {
        margin: 20px;
        padding: auto;
        border: 15px;
        justify-content: center;
    }

    .opening h1 {
        font-size: 20px;
        margin: auto;
    }

    .opening p {
        font-size: 10px;
    }

    .quizbutton a {
        padding: 8px 16px;
        font-size: 14px;
    }
    body {
        width: 100vw;
        height: 100vh;
    }
 
}

@media(min-width: 700px) {
    body {
        width: 100vw;
        height: 100vh;
    }

}